body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.errorMessage {
    color: red;
}

.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #4CAF50;
    color: white;
  }

  .hotelCard {
    display: inline-block;
    width: 300px;
    border: 1px solid green;
    padding: 1em;
    margin: 0.25em 0.5em;
    text-align: center;
  }

  .hotelCard > img {
    width: 90%;
  }
  
  .hotelCard > a {
    display: inline-block;
    padding: 0.1em 0.2em;
    margin: 0.2em 0.2em;
    background: #c8c8c8;
    color: black;
    text-decoration: none;
  }

  .hotelCard > a:hover {
    background: #ececec;
  }

  .pagination {
    display: block;
    text-align: center;
    font-size: 2em;
}

.pagination>a {
    display: inline-block;
    padding: 0.1em 0.5em;
    margin: 0.1em 0.2em;
    background: #c8c8c8;
    color: black;
    text-decoration: none;
}

.pagination>a:hover {
    background: #ececec
}